/*
Theme Name: Can Pipot
Author: Adrián Caballero, Bernat Parpal y Daniel Martín
Description: Tema chachipiruli 
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

.img_Redonda{
	width:300px;
	height:300px;
	border-radius:150px;
}
.inici{
	display: inline-block;
	width:500px;
	height:400px;
	float: left;
	margin-left: 100px;

}
